<div class="chat-chat">
    <div class="chat-header">
        <div class="chat-title">Алекса (юрист)</div>
    </div>
    <div class="chat-body">
        <div class="chat-message">Привет</div>
    </div>
    <div class="chat-footer">
        <input class="chat-input" type="text">
        <button class="chat-button" type="button">Отправить</button>
    </div>
</div>