<div class="chat-chat">
    <div class="chat-header">
        <div class="chat-title">Алекса (юрист)</div>
    </div>
    <div id="dialogview-page" class="chat-body">
    </div>
    <form id="createMessageData" class="chat-footer">
        <input type="text" id="message" name="message" placeholder="Напишите сообщение ..." class="chat-input">
        <input type="submit" class="chat-button" value="Отправить">
</form>
</div>