.message {
    display:flex;
    flex-direction: column;
}

.message_margin_ch {
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    padding: 4px;
}

.message__creator {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
}

.message__content {
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.message__context_margin {
    margin-top:3px;
}

.your-message_background {
    background: #d6d6d6;
}